.col-md-4.gal-img
  a(href="#gal1")
    img.img-fluid.item-cover(src=`/images/products/${item.product_image}`, alt="w3pvt")
    .gal-info
      h5= item.product_name
      .row
        .col-sm-8
          a(href=item.url target="_blank")
            span.decription Provider's website
        .col-sm-4
          if user
            form(method="post" action=`/insurer/extensions/${item._id}/remove` enctype="multipart/form-data")
              button.btn.btn-alert(type="submit") Delete

               
      #gal1.pop-overlay
        .popup
          img.img-fluid.item-cover(src=`/images/products/${item.product_image}` alt="Popup Image")
          p.mt-4 
          a.close(href="#gallery") &times;
  
  //-
          .pop-overlay
            .popup
              h5 Delete Product
              .content
                p Are you sure you want to delete the product?
              a#noDelete.close(href="#gallery") &times;
              button#yesDelete.btn.alert-alert(type="submit" role="button" onclick=`$(this).find('#deleteLink')[0].click();`)
                a#deleteLink(href="#") Confirm
                i.checkmark.icon
              